/* styles.module.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #0060d6;
}

/* Estilo para el enlace */
.link {
  display: block; /* Para asegurarte de que ocupe toda la línea */
  margin-top: 10px; /* Espacio entre el botón y el enlace */
  color: #0070f3; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.link:hover {
  text-decoration: underline; /* Subrayar al pasar el ratón */
}